<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<!--<add name="cadena_conexion"
             connectionString="Data Source=CATARSIS-ELITE-\SQLEXPRESS;Initial Catalog=SMARTLOCK_BD;Integrated Security=True;TrustServerCertificate=true;"
             providerName="System.Data.SqlClient"/>-->

		<add name="cadena_conexion"
             connectionString="Data Source=SMARTLOCK_BD.mssql.somee.com;Initial Catalog=SMARTLOCK_BD;user id=adrielh74_SQLLogin_2;pwd=h8nti37qgl;"
             />
	</connectionStrings>
</configuration>